<section data-ng-controller="WishesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Wish</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="contains">contains</label>
                    <div class="controls">
                        <input type="text" data-ng-model="wish.contains" id="contains" class="form-control" placeholder="contains" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">email</label>
                    <div class="controls">
                        <input type="text" data-ng-model="wish.email" id="email" class="form-control" placeholder="email" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>