<section data-ng-controller="WishesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Wishes</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="wish in wishes" data-ng-href="#!/wishes/{{wish._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="wish.created | date:'medium'"></span>
				by
				<span data-ng-bind="wish.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="wish.contains"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!wishes.$resolved || wishes.length">
    	No Wishes yet, why don't you <a href="/#!/wishes/create">create one</a>?
    </div>
</section>