<section data-ng-controller="OffersController">
    <div class="page-header">
        <h1>Offers</h1>
    </div>

    <div class="pull-right">
      <a type="button" class="btn btn-success" href="/#!/offers/create">
        <i class="glyphicon glyphicon-open"></i> New Offer
      </a>
    </div>

    <div>
        <label class="checkbox-inline" ng-repeat="column in columns">
            <input type="checkbox" ng-model="column.visible" /> {{column.title}}
        </label>
    </div>

    <div>

        <table ng-table="tableParams" template-header="sample_ng_header" show-filter="true" class="table table-condensed table-bordered">
            <tbody>
                <tr ng-repeat="offer in $data">
                    <td ng-repeat="column in columns" ng-show="column.visible" sortable="column.field" filter="column.filter">
                        {{ offer[column.field] }}
                    </td>
                </tr>
            </tbody>
        </table>

        <script id="sample_ng_header" type="text/ng-template">
            <tr>
                <th ng-repeat="column in columns" ng-show="column.visible"
                    class="text-center sortable" ng-class="{
                      'sort-asc': tableParams.isSortBy(column.field, 'asc'),
                      'sort-desc': tableParams.isSortBy(column.field, 'desc')
                    }"
                    ng-click="tableParams.sorting(column.field, tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')">
                    {{column.title}}
                </th>
            </tr>

            <tr ng-show="show_filter" class="ng-table-filters">
                <th ng-repeat="column in columns" data-title-text="column.title" ng-show="column.visible" class="filter">
                    <div ng-repeat="(name, filter) in column.filter track by $index">
                        <div ng-if="filter.indexOf('/') !== -1" ng-include="filter"></div>
                        <div ng-if="filter.indexOf('/') === -1" ng-include="'ng-table/filters/' + filter + '.html'"></div>
                    </div>
                </th>
            </tr>
        </script>

    </div>
</section>
