<section data-ng-controller="OffersController">
    <div class="page-header">
        <h1>Offers</h1>
    </div>

    <div class="pull-right">
      <a type="button" class="btn btn-success" href="/#!/offers/create">
        <i class="glyphicon glyphicon-open"></i> New Offer
      </a>
    </div>

    <div>
        <table ng-table="tableParams" show-filter="true">
            <tr ng-repeat="offer in $data">
                <td data-title="'Title'" sortable="'title'" filter="{ 'title': 'text' }">{{offer.title}}</td>
                <td data-title="'Price'" sortable="'sales'" filter="{ 'sales': 'text' }">{{offer.sales}}</td>
                <td data-title="'Language'" sortable="'language'" filter="{'language': 'select'}" filter-data="languages($column)">{{offer.language}}</td>
                <td data-title="'Site'" sortable="'site'" filter="{'site': 'select'}" filter-data="sites($column)">{{offer.site}}</td>
                <td data-title="''" sortable="'active'" filter="{ 'active': 'select' }" filter-data="trueFalse($column)">{{offer.active}}</td>
                <td>
                    <div class="table-actions">
                <td>
                   <div class="table-actions">
                        <a class="btn btn-default" title="View" href="/#!/offers/{{offer._id}}">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a class="btn btn-default" title="Edit" href="/#!/offers/{{offer._id}}/edit">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="remove(offer)" item="offer">
                  				<span class="glyphicon glyphicon-remove-circle"></span>
                  			</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</section>
