<section ng-controller="OffersController" ng-init="findOne()">
	<div class="page-header">
		<h1 ng-bind="offer.title"></h1>
	</div>
	<div class="pull-right" ng-show="authentication.user._id == offer.user._id">
    <a class="btn btn-primary" ui-sref="offers.edit({offerId: offer._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="offer.created | date:'mediumDate'"></span>
					by
		      <span ng-bind="offer.user.displayName"></span>
		</em>
	</small>
	  <p class="lead" ng-bind="offer.site"></p>
</section>
